<h1>Hullo. Dis me.</h1>

<p>The name's Jonathan Lin.</p>
<p>I'm from Cerritos, California (in LA County).</p>
<p>Fun fact: I can square numbers in my head really quickly.</p>
<p>I'm most excited to finally be able to make a website
  that does something instead of just looking pretty.</p>
